<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

<link th:href="@{css/style.css}" rel="stylesheet" />
<link th:href="@{css/fade.css}" rel="stylesheet" />


<title>Insert title here</title>
</head>
<body>



<a href="/video" class="neon-button">Viens...</a>

</body>
</html>