<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

<link th:href="@{css/style.css}" rel="stylesheet" />
<link th:href="@{css/fade.css}" rel="stylesheet" />
<link th:href="@{css/video.css}" rel="stylesheet" />



<title>Insert title here</title>
</head>
<body>

<!-- <video id="videoBG" poster="poster.JPG" autoplay muted loop> -->
<!--     <source src="vid/vid.mp4" type="video/mp4"> -->
<!-- </video> -->

 <div class="wrapper">

        <div class="video-container">

            <video autoplay muted loop>
                <source src="vid/vid.mp4" type="video/mp4">
            </video>

        </div>

<!--         <div class="video-overlay"> -->
<!--             <h1>Grid<span>fyx</span></h1> -->
<!--             <p>Web Development</p> -->
<!--         </div> -->

    </div>



</body>
</html>